.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-list-1 {
  margin: 98px auto 0 20px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 760px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-image-1 {
  width: 130px;
  height: 141px;
  margin: -880px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 305px;
  min-height: 98px;
  margin: -120px auto 60px 20px;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 624px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 247px;
}

.u-section-2 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 55px;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-3 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-family: Montserrat, sans-serif;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-family: Montserrat, sans-serif;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-family: Montserrat, sans-serif;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-family: Montserrat, sans-serif;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-family: Montserrat, sans-serif;
  padding: 0;
}